[build]
  command = "npm run build"
  publish = "_site"

[build.environment]
  NODE_VERSION = "20"

# Netlify Identity settings
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200
